NEXT_PUBLIC_SUPABASE_URL=https://SEU_PROJECT_REF.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sua_chave_anon_ou_publishable

# Coordenadas geográficas e orientação da Usina (Open-Meteo)
NEXT_PUBLIC_SOLAR_LATITUDE=-28.7139
NEXT_PUBLIC_SOLAR_LONGITUDE=-49.3003
NEXT_PUBLIC_SOLAR_AZIMUTH=155
NEXT_PUBLIC_SOLAR_TILT=15

# Google AI Studio (Gemini API)
GEMINI_API_KEY=sua_chave_do_google_ai_studio
